.first-image-container {
    position: relative;
    margin: 0 auto;
}

.first-image-container img {
    vertical-align: middle;
}

.first-image-container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 55%;
    padding: 5%;
    margin-left: 2%;
    margin-bottom: 8%;
}
.styling-image1 {
    width: 100%;
    height: 920px;
    overflow: hidden;
    filter: brightness(50%);
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: transparent;
    padding: 5%;
    margin-left: 2%;
    margin-top: -4%;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    margin-top: 2%;
    display: inline-block;
    padding: 0px 10px;
}

.a-style {
    color: white;
    font-size: calc((1.05 - 1) * 1.2vw + 1rem);
    font-weight: 500;
    font-family: 'roboto';
}

.logo-container {
    display: flex;
    flex-basis: 62%;
}

.logo {
    margin-right: 0;
    width: 13%;
}

.green-button {
    background-color: #25e200;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 180px;
    padding: 1%;
    font-family: 'roboto';
}
.green-button2 {
    background-color: #25e200;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200x;
    padding: 2%;
    font-size: calc((1.3 - 1.2) * 1.2vw + 1rem);
    font-family: 'roboto';
}
.green-button:hover {
    background-color: rgb(0, 148, 0);
}
.green-button2:hover {
    background-color: rgb(0, 148, 0);
}
.learn-more-button {
    color: #18ea19;
    margin-left: 12%;
    cursor: pointer;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    background: transparent;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    font-weight: 400;
}
.learn-more-button:hover {
    color: #18ea19;
}
.privacy-button {
    color: #25e200;
    cursor: pointer;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    background-color: black;
    font-family: 'roboto';
}
.privacy-button:hover {
    color: #25e200;
}
.h1-content {
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    line-height: 1.17;
    font-weight: 400;
    font-family: 'roboto';
}

.p-content {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    line-height: 1.4;
    font-family: 'roboto';
}

.data-section {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}

.ads-section {
    box-sizing: border-box;
    margin: 5%;
    margin-top: 0%;
}
.ads-image {
    width: 100%;
    margin-left: 3%;
}
.para-ads-section {
    margin-top: 7%;
    margin-right: 0.5%;
}
.program-section {
    background-color: #25e200;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.program-image-1 {
    width: 80%;
    float: right;
}
.program-image-2 {
    width: 80%;
}
.graduates-section {
    box-sizing: border-box;
    margin: 5%;
}
.para-grad-section {
    margin-top: 7%;
    margin-right: 0.5%;
}
.rp-section {
    margin-top: 5%;
    margin-bottom: 5%;
}
.rp-image {
    width: 95%;
    padding: 1%;
}
.quote-image {
    width: 55%;
}
.media-section {
    margin-top: 2%;
    margin-bottom: 5%;
    background: #e6e6e6;
    padding-top: 5%;
    padding-bottom: 3%;
}
.media-title-container{
    padding-bottom: 3%;
}
.partners-section {
    margin-top: 3%;
}
.partners-title-container {
    margin-bottom: 2%;
}
.partners-image {
    width: 90%;
    padding-bottom: 3.5%;
    border-bottom: black solid 1px;
}
.strategic-partners-container {
    margin-top: 0%;
}
.strategic-partners-title {
    margin-bottom: 2%;
}
.strategic-partners-image-container {
    padding-bottom: 5%;
    margin: 0%;
}
.image-style {
    width: 100%;
}
.newsletter-section {
    background: #e6e6e6;
    padding-top: 3%;
    padding-bottom: 3%;
}
.footer {
    background-color: black;
    padding-top: 2%;
    padding-bottom: 1%;
}
.h1-data {
    text-align: center;
    color: #25e200;
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    white-space: pre-wrap;
    font-weight: bold;
    line-height: 1.17;
    margin-bottom: 0%;
    font-family: 'roboto';
}

.h2-data {
    text-align: center;
    white-space: pre-wrap;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    margin-top: 15%;
    font-family: 'roboto';
}

.h2-ads {
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: 1.196;
    font-weight: 400;
    margin-left: 7%;
    margin-top: 0%;
    font-family: 'roboto';
}

.p-ads {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    margin-left: 12%;
    margin-top: -4%;
    margin-right: 20%;
    font-family: 'roboto';
}

.h2-program {
    text-align: center;
    margin-bottom: 0.5%;
    padding-top: 0.5%;
    white-space: pre-wrap;
    color: #fff;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: 1.196;
    font-weight: 400;
    margin-bottom: 3%;
    font-family: 'roboto';
}

.h4-rp-section {
    text-align: center;
    color: black;
    font-size: calc((2 - 1) * 1.2vw + 1rem);
    line-height: 1.248;
    font-weight: 400;
    font-family: 'roboto';
}

.p-rp-section {
    text-align: center;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    line-height: 1.4;
    margin-top: -2.2%;
    font-family: 'roboto';
}

.h3-partners {
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    line-height: 1.222;
    color: black;
    font-family: 'roboto';
}

.h3-newsletter {
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    text-align: center;
    font-weight: 400;
    line-height: 1.222;
    color: black;
    font-family: 'roboto';
}
.p-footer{
    color: white;
    font-family: 'roboto';
}
.subscribe-button {
    background-color: black;
    color: white;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 180px;
    padding: 1.2%;
}
.subscribe-button:hover {
    background-color: gray;
}

.fa {
    display: flex;
    padding: 2%;
    font-size: 5%;
    width: 100%;
    margin-right: 15px;
}

.fa-facebook {
    background-color: black;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;
}