.first-image-container {
    position: relative;
    margin: 0 auto;
}

.first-image-container img {
    vertical-align: middle;
}

.first-image-container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5%;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: transparent;
    padding: 3%;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-basis: 60%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.a-style {
    color: white;
    font-size: calc((1.05 - 1) * 1.2vw + 1rem);
    font-weight: 500;
}

.logo-container {
    display: flex;
    flex-basis: 40%;
}

.logo {
    margin-right: 0;
    width: 13%;
}

.green-button {
    background-color: #25e200;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 8%;
    padding: 1%;
}
.green-button:hover {
    background-color: rgb(0, 148, 0);
}

.learn-more-button {
    color: #18ea19;
    margin-left: 12%;
    cursor: pointer;
    background: transparent;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    font-weight: 400;
}

.privacy-button {
    color: #25e200;
    cursor: pointer;
    text-decoration-line: underline;
    background-color: black;
}

.h1-content {
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    line-height: 1.17;
    font-weight: 400;
}

.p-content {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    line-height: 1.4;
}

.data-section {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}

.h1-data {
    text-align: center;
    color: #25e200;
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    white-space: pre-wrap;
    font-weight: bold;
    line-height: 1.17;
    margin-bottom: 0%;
}

.h2-data {
    text-align: center;
    white-space: pre-wrap;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    margin-top: 15%;
}

.h2-ads {
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: 1.196;
    font-weight: 400;
    margin-left: 7%;
    margin-top: 0%;
}

.p-ads {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    margin-left: 12%;
    margin-top: -4%;
    margin-right: 20%;

}

.h2-program {
    text-align: center;
    margin-bottom: 0.5%;
    padding-top: 0.5%;
    white-space: pre-wrap;
    color: #fff;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: 1.196;
    font-weight: 400;
}

.h4-rp-section {
    text-align: center;
    color: black;
    font-size: calc((2 - 1) * 1.2vw + 1rem);
    line-height: 1.248;
    font-weight: 400;
}

.p-rp-section {
    text-align: center;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    line-height: 1.4;
    margin-top: -2.2%;
}

.h3-partners {
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    line-height: 1.222;
    color: black;
}

.h3-newsletter {
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    text-align: center;
    font-weight: 400;
    line-height: 1.222;
    color: black;
}

.subscribe-button {
    background-color: black;
    color: white;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 10%;
    padding: 1.2%;
}
.subscribe-button:hover {
    background-color: gray;
}

.fa {
    display: flex;
    padding: 2%;
    font-size: 2%;
    width: 100%;
    margin-right: 10px;
}

.fa-facebook {
    background-color: black;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;
}