.first-image-container {
    position: relative;
    margin: 0 auto;
}

.first-image-container img {
    vertical-align: middle;
}

.first-image-container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5%;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: transparent;
    padding: 3%;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-basis: 60%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.a-style {
    color: white;
}

.logo-container {
    display: flex;
    flex-basis: 40%;
}

.logo {
    margin-right: 0;
    width: 13%;
}

.green-button {
    background-color: #25e200;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 8%;
    padding: 1%;
}

.fa {
    display: flex;
    padding: 2%;
    font-size: 2%;
    width: 100%;
    margin-right: 10px;
}

.fa-facebook {
    background-color: black;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;
}